body {
    background-color: blanchedalmond;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }

  h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    color: chocolate;
  }

  h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
  }

  h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: chocolate;
  }

ul {
    list-style-type: none;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 8px;
  }

  body {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
  }

  img {
    max-width: 500px;
  }